
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding:0 ;
    font-family: poppins;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: gray;
}p{
    margin: 0;
    padding: 0;
}
.big-box{
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    margin-top: 5%;
    height: 360px;
    padding:2vw;
    background-color:cornflowerblue;
    border-radius: 3vw;
    box-shadow:10px 10px 10px beige;
}
h1,#enterDate{
    font-size: 9vh;
}
.countdoun{
    display: flex;
    text-align: center;
    justify-content: center;
}
.big-txt{
    font-size: 9vh;
    padding: 2vw;
}
span{
    font-size:2vw;
}
@media screen and (max-width: 650px) {
    h1{
        font-size: 6vh;
    }
    .big-txt{
        font-size: 5vh;
        padding: 2vw;
    }
}
